.header {
    overflow: hidden;
    padding: 20px 10px;
    background-color: #05544b;
}

.header a {
    float: left;
    color:white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}
.header-right {
    float: right;
}

.img {
    cursor: pointer;
}